.header {
  background-color: #110731;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.userDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  pointer-events: none;
}

.logoDiv {
  display: flex;
  align-items: center;
  gap: 10px;
  pointer-events: none;
}

.h2 {
  color: white;
  font-weight: 500;
  font-size: 23px;
}

.header h1 {
  text-align: center;
  font-weight: 800;
  color: white;
}

.header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.navLink {
  color: white;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;

  &:hover {
    color: rgb(255, 255, 255, 0.6);
  }

  &:active {
    color: rgb(255, 255, 255, 0.3);
  }
}
