.navLink {
  color: white;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;

  &:hover {
    color: rgb(255, 255, 255, 0.6);
  }

  &:active {
    color: rgb(255, 255, 255, 0.3);
  }
}

.active {
  text-decoration: underline;
}
